body,html{
  margin: 0;
  padding: 0;
}
.img{
  image: url(clomologo.jpg);
  position: center;
  size: cover;
  width: 100%;
  height: 100vh;
}
.img::before{
  content: '';
  display: block;
  padding-top: 50%;
}
